@font-face {
  font-family: 'CenturyGothic-Italic';
  src: url('CenturyGothic-Italic.eot') format('embedded-opentype'),  url('CenturyGothic-Italic.woff') format('woff'), url('CenturyGothic-Italic.ttf')  format('truetype'), url('CenturyGothic-Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
